.sidebar {
    width: 100vw;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-dropdown {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }